
  @media only screen and (min-width: 992px) {
    .dropdown-menu {
      width: 55vw;
    }
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }
  
.search-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item img {
  margin-right: 10px;
}
